doctype html
html(lang='en')
  head
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    title Tests
    meta(name='description', content='Description')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    // bootstrap.css
    link(href='/stuff/bootstrap.min.css', rel='stylesheet')
    // littlehelpers.css
    link(href='/stuff/littlehelpers.css', rel='stylesheet')
    link(href='/style.css', rel='stylesheet')
    script(src='/stuff/jquery-2.2.4.min.js')
    script(src='/stuff/bootstrap.min.js')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:600', rel='stylesheet')
  body
    section
      .container
        h1.mbot25 Valerie's and Tim's Bookmarkfinder
        .row
          .col-sm-6
            .area
              h2.mbot25 Input
              form(action='/', method='POST', id='urlform')
                .form-group
                  label(for='nameinput') Name
                  input#nameinput.form-control(type='text', placeholder='Name', name="name")
                .form-group
                  label(for='urlinput') URL
                  input#urlinput.form-control(type='text', placeholder='http://', name="url")
                .form-group
                  label(for='tagsinput') Tags
                  input#tagsinput.form-control(type='text', placeholder='', name="tags")
                button(type='submit') Submit
            .area
              h2.mbot25 Output
              form(action='/search', method='POST', id='searchform')
                .form-group
                  label(for='searchform') search bookmark
                  .form-group
                    input#searchinput.form-control(type='text', placeholder='Searchinput', name='searchquery')
                  button(type='submit') Search
          .col-sm-6
            #output.area
              h2.mbot25 Output
                h4 All Bookmarks:
                each hit in olddatabase
                  h3=hit.inputname
                  h4=hit.inputurl
                  h4=hit.multipletags
    script(src='main.js')
